<nav class="navbar navbar-expand-sm navbar-light berkeley-color">
  <div class="container">
    <%= link_to "Home", root_path, method: :get, class: "btn btn-outline-primary", style: "color: grey; border-color: grey;"%>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav" aria-controls="nav" aria-label="Expand Navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="nav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "Check In".html_safe, checkin_path, class: "nav-link", style:"color: grey;"%>
        </li>
        <li class="nav-item">
          <%= link_to "Make Appointments".html_safe, appointments_path, class: "nav-link", style:"color: grey;"%>
        </li>
        <li class="nav-item">
          <%= link_to "Scholarships".html_safe, scholarships_path, class: "nav-link", style:"color: grey;"%>
        </li>
        <li class="nav-item">
          <%= link_to "Courses".html_safe, courses_path, class: "nav-link", style:"color: grey;"%>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div class="<%=flash.empty? ? 'px-4 py-5 my-2 text-center' : 'px-4 pb-5 mb-5 text-center' %>">
    <%= render "shared/flash_messages" %>
    <h1 class="display-5 fw-bold pb-3">Let's get to know you a bit more...</h1>
    <p class="h2 mb-3">You can fill out this information now, or at a later time &#x1f557</p>
    <%= render 'profile_form' %>
  </div>
</div>
