<div class="container">
  <div class="<%=flash.empty? ? 'px-4 py-5 my-2 text-center' : 'px-4 pb-5 mb-5 text-center' %>">
  <% flash.each do |type, msg| %>
    <div class="<%=type.to_s === "success" ? 'alert alert-success mt-2 mb-4' : 'alert alert-danger mt-2 mb-4'%>">
      <%= msg.html_safe %>
    </div>
  <% end %>
  <h1 class="display-5 fw-bold pb-3">Let's get to know you a bit more...</h1>
  <p class="h2 mb-3">You can fill out this information now, or at a later time &#x1f557</p>
  <%= form_with method: :patch, url: user_profile_update_path, scope: "profile" do |f| %>
    <div class="row mb-3">
      <div class="col-md-6 offset-md-3">
        <div class="col-md-6 offset-md-3 mb-3">
          <%= f.label :major, class: "form-label" %>
          <%= f.text_field :major, class: "form-control" %>
          <div id="majorHelp" class="form-text">If you have more than one separate using commas. <b>Optional</b></div>
        </div>
        <div class="col-md-6 offset-md-3 mb-3">
          <%= f.label :identities, class: "form-label" %>
          <%= f.text_field :identities, placeholder: "LGBTQIA+, First Generation, POC, ...", class: "form-control" %>
          <div id="identitiesHelp" class="form-text">List any groups/communities that you identify with. <b>Optional</b></div>
        </div>
        <div class="col-md-6 offset-md-3 mb-3">
          <%= f.label :grad_year, class: "form-label" %>
          <%= f.date_select :grad_year, {:order => [:year], :start_year => Time.now.year, :end_year => Time.now.year + 15, :prompt => {:year => "Select year"}}, {:class => "form-select form-select-md mb-3s"} %>
          <div id="gradYearHelp" class="form-text">Provide your expected graduation year. <b>Optional</b></div>
        </div>
        <div class="col-md-6 offset-md-3 mb-3">
          <%= f.label :pronouns, class: "form-label"  %>
          <%= f.text_field :pronouns, placeholder: "They/Them/Theirs", class: "form-control" %>
          <div id="pronounsHelp" class="form-text">Provide your pronouns. <b>Optional</b></div>
        </div>
      </div>
      <div class="col-md-6 offset-md-3">
        <%= f.submit "Skip", name: "skip", class: "btn btn-secondary btn-lg ms-2 my-4"  %>
        <%= f.submit "Submit", name: "submit", class: "btn btn-primary btn-lg ms-2 my-4"  %>
      </div>
  <%  end %>
    </div>
  </div>
</div>
