<div class="container">
  <div class="<%=flash.empty? ? 'px-4 py-5 my-2 text-center' : 'px-4 pb-5 mb-5 text-center' %>">
    <% flash.each do |type, msg| %>
      <div class="<%=type.to_s === "success" ? 'alert alert-success mt-2 mb-4' : 'alert alert-danger mt-2 mb-4'%>">
        <%= msg %>
      </div>
    <% end %>
    <%= image_tag("reentry-owl.jpg", width: 130, height: 130, class: "d-block rounded mx-auto mb-4") %>
    <% if @logged_out %>
      <h1 class="display-5 fw-bold">Welcome to the Berkeley <br/> Reentry Student Program</h1>
      <div class="d-grid mt-2 gap-2 d-sm-flex justify-content-sm-center pt-2">
      <% form_tag('/auth/google_oauth2', method: :post) do %>
        <div><%= submit_tag "login with Google", class: "btn btn-primary btn-lg ms-2" %></div>
      <% end %>
      <%= button_to "Login with Google", '/auth/google_oauth2' %>

        <button type="button" class="btn btn-secondary btn-lg px-4">Sign-up</button>
      </div>
    <% else %>
      <h1 class="display-5 fw-bold">Welcome to the Berkeley <br/> Reentry Student Program,</h1>
      <h3 class="display-5 name-display mt-3"><%= @name.html_safe %></h3>
      <% if @user_type.include? 'Admin' %>
        <%= link_to "Go to admin dashboard".html_safe, admins_path, class: "btn btn-primary mt-1 btn-lg px-4 gap-3" %>
      <% end %>
      <% if @user_type.include? 'Staff' %>
        <%# pending %>
      <% end %>
      <% if @user_type.include? 'Student' %>
        <div class="col-lg-6 mt-4 mx-auto">
          <p class="lead mb-4">Check-in using this application, find and make appointments with staff, find news and updates &#x1F4AB</p>
          <%= link_to "Check-in to Berkeley </br> Reentry Student Center".html_safe, checkin_path, class: "btn btn-primary mt-1 btn-lg px-4 gap-3" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
